package web

templ Home(text string) {
	@Layout("Home", Version) {
		<main data-init="@get('/sse/print')">
			<h1>Hypermedia Gang Rise Up</h1>
			<h3>{ text }</h3>
			<pre><code class="language-go">{ ssePrintMessageSource }</code></pre>
			<div class="text-sm">*{ "<pre><code> " } blocks are styled with the microlighter library, and a custom bootstrap theme</div>
			<div class="text-sm">
				**This code fat morphs the whole page <strong>Home</strong>, check the network tab, brotli compression
				is showing that even though we're sending the entire page down on each new character, it's hardly transferring anymore bytes
			</div>
		</main>
	}
}
